<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="reportService" class="com.infosys.services.ReportService">
    <property name="generator" ref="htmlReportGenerator"/>
    <property name="recordCount" value ="150"/>
    </bean>
     
    <bean id="pdfReportGenerator" class="com.infosys.services.PDFReportGenerator">
    </bean>
    
     <bean id="htmlReportGenerator" class="com.infosys.services.HTMLReportGenerator">
    </bean>
    
</beans> 